<!DOCTYPE html>
<html xxmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>hola</h1>
        ID del empleado: <p th:text="${empleado.id}"></p>
        Sueldo: $<p th:text="${empleado.sueldo}"></p>
        Departamento:<p th:text="${empleado.departamento}"></p>
        Nombre:<p th:text="${empleado.Nombre}"></p>
        Fecha de Nacimiento:<p th:text="${empleado.FechaNacimiento}"></p>
    </body>
</html>
